<div class="contact">
    <br /><br /><br /><br /><br /><br /><br />
    <h1 style="text-align:center;font-size:70px;color:white;">Contact us</h1>

    <h3 style="text-align:center;color:white">For any questions please send us a message<br /><br /></h3>
    <form method="post" style="align-content:center;margin-left:500px">
        <div class="form-group row">

            <div class="col-sm-6">
                <input type="text" placeholder="Your first name.."
                       class="form-control" />
            </div>

        </div>
        <div class="form-group row">

            <div class="col-sm-6">
                <input type="text" placeholder="Your last name.."
                       class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class=" col-sm-6">

                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" class="form-control"></textarea>

            </div>
        </div>
        <div class="form-group row">

            <div class="offset-sm-3 col-sm-2">
                <input type="submit" value="submit"
                       class="form-control" />
            </div>

        </div>

    </form>

    
</div>