@model Clothes

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Clothes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataFiles" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="DataFiles" accept="image/*"  >
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="DataFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>


            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsOnSale" /> On Sale
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsInStock" />In Stock
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="@ViewBag.Categorys">
                    <option value="">Select</option>

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

