
@{
    ViewData["Title"] = "About";
}

    
        <h1 style="text-align:center;font-family:Arial
    ;font-size:50px">About us
    </h1>
<p><p style="        text-align: center;
        font-family: cursive;
        color: rgba(148, 136, 136, 1.00);font-size:30px;
        padding: 100px 20px 100px 100px;
        padding-bottom: 200px;">
        Culturally conscious. Exceptionally created. Ethically made. Tiny Toes is the gender-free clothing company making a movement within the fashion industry that will impact the world we live in today. By challenging the status quo and pushing gender roles + stereotypes, we are gaining equality with the highest integrity. We are proudly made in Canada from recycled bamboo, which is how we've created the #softestsetsever.
    </p>

