@model Clothes

<div class="thumbnail">
    <img  src="@Model.ImageUrl" />
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price</h3>
        
       
    </div>
    <div class="addToCart">
        <p class="button">
            <a class="btn btn-primary"
               asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-clothesId="@Model.ClothesId">Add to Cart</a>
        </p>
    </div>
</div>

